<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8" />

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% include 'site-social-meta' %}

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}

  <!-- SCRIPTS -->
  {{ 'head.js'  | asset_url | script_tag }}
  
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- jQuery Dependent -->
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  <script>window.lazySizesConfig = window.lazySizesConfig || {};</script>
  <script src="{{ 'lazysizes.js' | asset_url }}" async=""></script>

  {{ content_for_header }}

  <title>{{ shop.name }}</title>

</head>

{% capture body_class %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} image-hover-light cta-fill-black{% endcapture %}

<body id="{{ page_title | handle }}" class="{{ body_class }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '/', '-' | split: '.' }}">
  
  {{ content_for_layout }}
  
  {{ 'shop.js' | asset_url | script_tag }} 
</body>
</html>
