{% comment %} Section {% endcomment %}
{% assign row_split = false %}
{% if layout == 'split' and title != blank and content != blank %}
	{% assign row_split = true %}
{% endif %}

{%- capture button -%}
	{%- if cta != blank -%}
		<div class="button-wrap">
			<a href="{{ link }}" class="button button--{{ button_style }}" title="{{ cta }}">{{ cta }}</a>
		</div>
	{%- endif -%}
{%- endcapture -%}

{% if title != blank or content != blank or cta != blank %}
<section class="title-module container-wrap" id="text-module-{{ id }}" data-section-type="rich-text">
	<div class="container pad-sm">
		<div class="row {% if row_split %} row--split {% else %} row-sm {% endif %}">
			{% if subheading != blank %}
				<p class="rich__subheading align--{{ heading_align }} size--small">{{ subheading }}</p>
			{% endif %}

			{% if title !=blank or button != blank and button_position == 'left' %}
				<div class="rich__heading align--{{ heading_align }}">

					{% if title != blank %}
						<h4 class="size--{{ heading_size }}">{{ title }}</h4>
					{% endif %}

					{%- if button != blank and button_position == 'left' -%}
						{{ button }}
					{%- endif -%}
				</div>
			{% endif %}

			{% include 'accent-line' %}

			{%- if content != blank -%}
				<div class="rich-content size--{{ text_size }} {% if cta == blank %}no-button{% endif %}">
					{{ content }}

					{%- if button != blank and button_position == 'right' -%}
						{{ button }}
					{%- endif -%}
				</div>
			{%- endif -%}
		</div>

		{%- if button != blank and button_position == 'center' -%}
			<div class="row">
				{{ button }}
			</div>
		{%- endif -%}
	</div>
</section>
{% endif %}