{%- assign columnsSize = '4' -%}

<section class="page-title container-wrap">
  <div class="container">
    <div class="row inline u-center">
      <h1>{{ 'search.content.title' | t }}</h1>
    </div>
  </div>
</section>
<section class="collectionGrid container-wrap">
  <div class="container">
    <div class="collectionGrid-nav{% unless search.performed %} collectionGrid-nav--center{% endunless %} collectionGrid-row row inline">
      {%- if search.performed -%}
        <div class="search-info block search-alert">
          <h3>
            {%- if search.results_count == 0 -%}{{ "search.content.no_results" | t: search: search.terms }}{%- else -%}{{ "search.content.has_results" | t: search: search.terms }}{%- endif -%}
          </h3>
        </div>
      {%- endif -%}

      <div class="collectionGrid-filter block s1 sm_s34 lg_s23">
        <form action="/search" method="get" class="search-page-form clearfix" role="search">
          <input type="hidden" name="type" value="product" />
          <input name="q" type="search" id="search-field" value="{{ search.terms | escape }}" />
          <input type="submit" id="search-submit" class="button" value="{{ 'search.button.text' | t }}" />
        </form>
      </div>
    </div>
    {%- if search.performed -%}
      {%- paginate search.results by 12 -%}
        <div id="MainContent">
          <div class="collectionGrid-load load-more-icon"></div>
          <div class="js-collectionGrid collectionGrid-row row inline {{featured}} EndlessClick">

            {%- for product in search.results -%}
              {%- include 'product-grid-item' -%}
              {%- assign src = '' -%}
            {%- endfor -%}

            <div class="gridSpacer item block s1 sm_s12 lg_s13{% if threeCol == true %} xl_s13{% else %} xl_s14{% endif %}"></div>
            <div class="gridSpacer item block s1 sm_s12 lg_s13{% if threeCol == true %} xl_s13{% else %} xl_s14{% endif %}"></div>
            
            {%- if paginate.next -%}
              <div class="pagination u-center">
                <a href="{{ paginate.next.url }}" class="js-loadMore loadMore button">{{ 'collections.pagination.load_more' | t }}</a>
                <div class="load-more-icon"></div>
              </div>
            {% endif %}
          </div>
        </div>
      {%- endpaginate -%}
    {% endif %}
  </div>
</section>