{% comment %} Settings {% endcomment %}
{%- assign instaToken = section.settings.instaToken -%}
{%- assign rows = section.settings.rows | plus:0 -%}
{%- assign columns = section.settings.columns | plus: 0 -%}
{%- assign instaPostCount = rows | times: columns -%}
{%- assign enableFeaturedImage = section.settings.show_featured -%}
{%- if enableFeaturedImage -%}
	{%- assign instaPostCount = instaPostCount | minus: 3 -%}
{%- endif -%}

{%- assign title = section.settings.title -%}
{%- assign cta = section.settings.cta -%}
{%- assign link = section.settings.link -%}

{%- assign color_text = section.settings.color_text -%}
{%- assign color_overlay = section.settings.color_overlay -%}
{%- assign overlay_opacity = section.settings.overlay_opacity | times: 0.01 | round: 2 -%}

<style>
	#instagram-module-{{ section.id }} .instagram-img__overlay::before { background-color: {{ color_overlay }}; opacity: {{ overlay_opacity }}; }
	#instagram-module-{{ section.id }} .instagram-img__content { color: {{ color_text }}; }
	#instagram-module-{{ section.id }} .instagram-img__btn { border-color: {{ color_text }}; }
	{%- if enableFeaturedImage -%}
		{%- assign itemIndex = columns | minus: 1 | times: 2 -%}
		@media screen and (min-width: 768px) {
			#instagram-module-{{ section.id }} .instagram-img__wrapper:nth-child({{ itemIndex }}) { clear: left; }  
		}
	{%- endif -%}
</style>

{% comment %} Section {% endcomment %}
<section class="instagram container-wrap style-default" id="instagram-module-{{ section.id }}" data-section-type="instagram">
	<div class="instagram-inner">
		{%- unless title == blank and showCTA == false -%}
			<div class="instagram-titles row inline u-center">
				<div class="container">
					{%- if title != blank -%}
						<h2 class="instagram-title inline-block align-c">{{ title }}</h2>
					{%- endif -%}
					{%- if cta != blank -%}
						<a aria-label="{{ 'instagram.link_label' | t }}" {% if link != blank %}href="{{ link }}"{% endif %} class="instagram-follow button button--{{ section.settings.button_style }}">
							<i class="icon-instagram"></i>{{ cta | truncate: 20 }}
						</a>
					{%- endif -%}
				</div>
				</div>
		{%- endunless -%}
		{%- if section.settings.instaToken != blank -%}
			<div class="js-instafeed instagram-slider instagram-slider--{{ columns | append: '-columns'}}" id="instagram-{{ section.id }}" data-insta-token="{{ instaToken }}" data-insta-count="{{ instaPostCount }}" data-featured-image="{{ enableFeaturedImage }}"></div>
		{%- else -%}
			<div class="instagram-slider instagram-slider--{{ columns | append: '-columns' }}">
				{%- for i in (1.. instaPostCount ) -%}
					<div class="instagram-img__wrapper {% if enableFeaturedImage and forloop.index == 1 %}instagram-img__wrapper--featured{% endif %}">
						<a aria-label="{{ 'instagram.link_label' | t }}" class="instagram-img is-placeholder" target="_blank">
							{{- 'image' | placeholder_svg_tag -}}
						</a>
					</div>
				{%- endfor -%}
			</div>
		{%- endif -%}
	</div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
		{
	"name": "Instagram feed",
	"settings": [
		{
			"type": "header",
			"content": "Configuration"
		},
		{
			"type": "text",
			"id": "instaToken",
			"label": "Instagram access token",
			"info": "[Get your access token](https://www.presidiocreative.com/instagram-privacy-policy)"
		},
		{
			"type": "range",
			"id": "rows",
			"min": 1,
			"max": 12,
			"step": 1,
			"label": "Rows",
			"default": 2
		},
		{
			"type": "range",
			"id": "columns",
			"min": 3,
			"max": 8,
			"step": 1,
			"label": "Images per row",
			"default": 6
		},
		{
			"type": "checkbox",
			"id": "show_featured",
			"label": "Feature first image",
			"default": false
		},
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Instagram"
		},
		{
			"type": "text",
			"id": "cta",
			"label": "Button label",
			"default": "Follow Us"
		},
		{
			"type": "text",
			"id": "link",
			"label": "Button link"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Light", "value": "light" }
			]
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "color_text",
			"label": "Text",
			"default": "#333333"
		},
		{
			"type": "color",
			"id": "color_overlay",
			"label": "Overlay",
			"default": "#FFF1AE"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"label": "Overlay opacity",
			"step": 1,
			"max": 100,
			"min": 0,
			"unit": "%",
			"default": 95
		}
	],
	"presets": [
		{
			"category": "Social media",
			"name": "Instagram feed"
		}
	]
}
{% endschema %}
