{%- assign enableSection = section.settings.related_products_enable -%}
{%- assign limit = section.settings.limit -%}
{%- assign heading = section.settings.product_recommendations_heading -%}
{%- assign productsColumns = settings.products_columns | plus: 0 -%}
{%- assign columnsSize = productsColumns | replace: '1', '' -%}
{%- assign color_swatches = settings.color_swatches -%}
{%- assign show_reviews = settings.show_reviews -%}

<section class="related-products container-wrap collectionGrid js-collectionGrid {% unless enableSection %}visually-hidden{% endunless%}" 
  data-columns="{{ productsColumns }}"
  data-section-type="related-products"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-limit="{{ section.settings.limit }}"
  data-show_reviews="{{ show_reviews }}"
  data-show_quantity="{{ settings.show_quantity }}"
  data-color_swatches="{{ color_swatches }}">
  
  {%- if enableSection -%}
    {%- if recommendations.performed -%}
      {%- if recommendations.products_count > 0 -%}

        {%- assign alignCenter = false -%}
        {%- if recommendations.products_count < productsColumns -%}
          {%- assign alignCenter = true -%}
        {%- endif -%}

        <div class="container">
          <div class="row row-sm carousel-title">
            {%- if heading != blank -%}
              <h2>{{ heading }}</h2>
            {%- endif -%}
          </div>
       
          <div class="row inline">
            <div class="collectionGrid-row {% if alignCenter %}row--center{% endif %}">
              {%- for product in recommendations.products -%}
                {% include 'product-grid-item' %}
              {%- endfor -%}

              {% for i in (1..3) %}
                <div class="gridSpacer item block s1 sm_s12 {% unless template == 'collection' %}lg_s1{{ columnsSize }} {% else %}{{ collectionBlock--size }}{% endunless %}"></div>
              {% endfor %}
            </div>
          </div>

        </div>
      {%- endif -%}
    {%- else -%}
      <div class="related__placeholder"></div>
    {%- endif -%}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "related_products_enable",
      "label": "Show related products",
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
      "default": true
    },
    {
      "type":    "range",
      "id":      "limit",
      "min":     1,
      "max":     6,
      "step":    1,
      "label":   "Product limit",
      "default": 4
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "Related products"
    }
  ]
}
{% endschema %}